.animated-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.blob {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.35;
  animation: float 20s infinite ease-in-out;
}

.blob.one {
  background: #0a0ad1;
  top: 10%;
  left: 10%;
}

.blob.two {
  background: #0ec53f;
  top: 50%;
  right: 10%;
  animation-delay: 5s;
}

.blob.three {
  background: #7d0588;
  bottom: 10%;
  left: 40%;
  animation-delay: 10s;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(60px, -80px);
  }
  100% {
    transform: translate(0, 0);
  }
}

