.skills {
  padding: 100px 8%;
}

.skills-list {
  max-width: 700px;
  margin: auto;
}

/* ITEM */
.skill-item {
  margin-bottom: 26px;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 500;
}

/* BAR */
.skill-bar {
  width: 100%;
  height: 10px;
  background: rgba(148, 163, 184, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background: linear-gradient(90deg, #38bdf8, #3b9775);
  border-radius: 10px;
  animation: grow 1.8s ease forwards;
}

@keyframes grow {
  from {
    width: 0;
  }
}
